<div id="search-component">

<div id="searchDiv">
  <input [(ngModel)]="searchTerm"
         #searchBox id="search-box"
         (keyup)="onTyping(searchBox.value)"
         placeholder="Vad vill du hitta?">
  <!--<button id="search-button" (click)="search(searchBox.value)">Sök</button>-->

</div>




  <!--   <div *ngFor="let result of hits">
  <ul>
<li>
    <p>{{result._source | json}}{{result._type}}</p>
</li>
</ul>
</div>
<ul>
 <li *ngFor="let result of searchQueryResults | async"
    (click)="onSelect(result.title)" class="search-result">
      <span> {{result.title}} </span>
    </li>
  </ul>-->
</div>

<!-- (keyup)="onSelect(searchBox.value)" -->
